{% extends 'users/base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}

    <div id="profile-form-container">
        <!-- Здесь будет загружаться форма профиля -->
    </div>

    <button type="submit">Register</button>
</form>

<script>
    function setStudentForm() {
        const url = '/accounts/get-profile-form/?role=student';
        fetch(url)
        .then(response => response.text())
        .then(html => {
            document.getElementById('profile-form-container').innerHTML = html;
        });
    }
setStudentForm()
document.getElementById('id_role').addEventListener('change', function() {
    const role = this.value;
    const url = `/accounts/get-profile-form/?role=${role}`;

    fetch(url)
        .then(response => response.text())
        .then(html => {
            document.getElementById('profile-form-container').innerHTML = html;
        });
});
</script>
{% endblock content %}